<form method="post" action="/login" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="mb-3">
        <label for="username" class="form-label">Usuário</label>
        <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>

    <div th:if="${error}" class="alert alert-danger text-center">
        <span th:text="${error}"></span>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>
